

@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";


.images{
    width: 150px;
    border-radius: 80px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.name{
    font-size: 16px;
    font-weight: bold;
}

.blocoComentarios{
  width: 350px !important;
  text-align: center;
}

@media screen and (max-device-width: 900px) {

.blocoComentarios{
  width:100% !important;
}
}

.slick-track{
  display: flex;
}
